.content {
  text-align: center;
}

.content h4 {
  margin-bottom: 1rem;
}

.cardList {
  display: -ms-grid;
  display: grid;
  text-align: left;

  grid-template-columns: 500px 500px;
  gap: 15px
}

@media (max-width: 1200px) {
  .cardList {
    grid-template-columns: 400px;
  }
}
